<header class="bg-header-bgColor text-header-textColor">
  <div
    class="max-w-7xl w-full mx-auto py-2 px-4 flex items-center justify-between"
  >
    <div class="flex items-center gap-4">
      <a
        [routerLink]="['/']"
        class="font-bold text-2xl bg-clip-text text-transparent bg-gradient-to-r from-emerald-500 to-sky-500"
        >TMDB</a
      >
      <ul class="hidden md:flex items-center">
        <li
          *ngFor="let link of links"
          class="relative p-2 group cursor-pointer"
        >
          <p class="font-medium">{{ link.title }}</p>
          <ul
            class="absolute top-full bg-white text-text-baseColor text-sm border border-gray-300 rounded-lg w-32 py-2 hidden group-hover:block shadow"
          >
            <li *ngFor="let subLink of link.list">
              <a
                [routerLink]="['/', subLink.path]"
                routerLinkActive="active"
                class="px-3 py-1 hover:bg-gray-200 block"
              >
                {{ subLink.title }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="flex items-center gap-4">
      <li>
        <a [routerLink]="['/notification']">
          <i class="fa-solid fa-bell"></i>
        </a>
      </li>
      <li>
        <a [routerLink]="['/search']">
          <i class="fa-solid fa-magnifying-glass"></i>
        </a>
      </li>
      <li>
        <ng-container *ngIf="user; else elseTemplate">
          <div class="relative group">
            <div
              class="w-6 aspect-square overflow-hidden rounded-full border cursor-pointer"
            >
              <img [src]="user.photoURL" alt="avatar" loading="lazy" />
            </div>
            <ul
              class="group-hover:block hidden absolute top-full right-0 py-1 bg-white text-black text-sm w-36 rounded-lg border border-gray-300 shadow"
            >
              <li
                class="px-4 py-1.5 border-b border-b-gray-300 font-medium line-clamp-1 overflow-hidden"
              >
                {{ user.email }}
              </li>
              <li>
                <a
                  [routerLink]="['/favorite']"
                  class="block px-4 py-1.5 hover:bg-gray-200"
                  >Favorite</a
                >
              </li>
              <li>
                <a
                  [routerLink]="['/bookmark']"
                  class="block px-4 py-1.5 hover:bg-gray-200"
                  >Bookmark</a
                >
              </li>
              <li
                class="border-t border-t-gray-300 px-4 py-1.5 hover:bg-gray-200 cursor-pointer"
                (click)="handleSignout()"
              >
                Signout
              </li>
            </ul>
          </div>
        </ng-container>
        <ng-template #elseTemplate>
          <a [routerLink]="['/login']">
            <i class="fa-solid fa-right-to-bracket"></i>
            Login
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</header>
