@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";
@import "swiper/css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
}

@layer base {
  :root {
    /* LIGHT MODE: Nền xám nhạt cực dịu, Card trắng tinh để nổi lên */
    --background: var(--color-zinc-50);
    --foreground: var(--color-zinc-950);

    --card: var(--color-white);
    --card-foreground: var(--color-zinc-950);

    --muted: var(--color-zinc-200);
    --muted-foreground: var(--color-zinc-500);

    --border: var(--color-zinc-200);
    --input: var(--color-zinc-200);
    --ring: var(--color-zinc-950);
    --radius: 0.75rem;

    /* Button trong Light Mode: Nền đen, chữ trắng */
    --primary: var(--color-zinc-900);
    --primary-foreground: var(--color-zinc-50);
    --primary-hover: var(--color-zinc-800);
  }

  .dark {
    /* DARK MODE: Đen tuyệt đối (Pure Black) */
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-50);

    /* CARD: Dùng Zinc-900 để nó sáng hơn nền đen, tạo hiệu ứng lớp (Layering) */
    --card: var(--color-slate-900);
    --card-foreground: var(--color-slate-50);

    /* Muted: Dùng cho các thẻ tag hoặc nền phụ trong card */
    --muted: var(--color-slate-800);
    --muted-foreground: var(--color-slate-400);

    /* Border: Rất mảnh để phân ranh giới card với nền */
    --border: var(--color-slate-800);
    --input: var(--color-slate-800);
    --ring: var(--color-slate-300);

    /* Button trong Dark Mode: Nền trắng, chữ đen (Đúng vibe Public APIs) */
    --primary: var(--color-slate-50);
    --primary-foreground: var(--color-slate-950);
    --primary-hover: var(--color-slate-200);
  }
}

@layer base {
  body {
    @apply bg-background text-foreground text-[15px] antialiased;
    font-family: "Nunito Sans", serif;
  }
  button {
    @apply cursor-pointer flex items-center gap-2;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-lg;
  }
  h4 {
    @apply text-base;
  }
}

@layer components {
  .img {
    @apply w-full h-full block object-cover object-center;
  }
}
