@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 0.875rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.btn {
  @apply shadow rounded px-3 py-1 flex items-center gap-2 hover:bg-gray-50;
}
.link {
  @apply text-blue-600 hover:text-blue-700 underline;
}
