<div class="max-w-7xl w-full mx-auto px-4 py-10 space-y-5">
  <h4>Login to your account</h4>
  <p>
    In order to use the editing and rating capabilities of TMDB, as well as get
    personal recommendations you will need to login to your account. If you do
    not have an account, registering for an account is free and simple. Click
    here to get started.
  </p>
  <p>
    If you signed up but didn't get your verification email, click here to have
    it resent.
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
    <div class="flex flex-col gap-1">
      <label for="email">Email</label>
      <input
        id="email"
        name="email"
        type="email"
        formControlName="email"
        class="border border-gray-300 focus:border-sky-300 transition-all outline-none px-3 py-1.5 rounded-lg"
      />
      <p *ngIf="email?.invalid && password?.dirty" class="text-xs text-red-500">
        Email is required
      </p>
    </div>
    <div class="flex flex-col gap-1">
      <label for="password">Password</label>
      <input
        id="password"
        name="password"
        type="password"
        formControlName="password"
        class="border border-gray-300 focus:border-sky-300 transition-all outline-none px-3 py-1.5 rounded-lg"
      />
      <p
        *ngIf="password?.invalid && password?.dirty"
        class="text-xs text-red-500"
      >
        Password is required and must be at least 6 characters.
      </p>
    </div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="bg-gray-200 px-3 py-1.5 rounded-lg cursor-pointer"
    >
      Login
    </button>
  </form>
  <p>
    You do not have an account.
    <a routerLink="/register" class="text-blue-500 underline">Register</a>.
  </p>
</div>
