<app-loading *ngIf="isLoading; else result"></app-loading>

<ng-template #result class="py-6 px-3 max-w-7xl w-full mx-auto">
  <div class="flex flex-col md:flex-row md:items-start gap-12">
    <div class="md:max-w-xs w-full space-y-3">
      <div class="w-full aspect-[9/14]">
        <img [src]="getCover()" alt="" loading="lazy" class="image" />
      </div>
      <button
        *ngIf="!isBookmark"
        (click)="toggleBookmark()"
        class="block w-full p-2 transition-all hover:bg-blue-600 bg-blue-500 text-white cursor-pointer rounded"
      >
        Save to Bookmark
      </button>
      <button
        *ngIf="isBookmark"
        (click)="toggleBookmark()"
        class="block w-full p-2 transition-all hover:bg-red-600 bg-red-500 text-white cursor-pointer rounded"
      >
        Remove to Bookmark
      </button>
    </div>
    <div class="flex-1 space-y-3">
      <h2 class="mb-6">{{ book.title }}</h2>
      <div class="text-secondary">
        {{ book.description?.value || book.description }}
      </div>
      <p>
        <span class="capitalize font-medium">subject places: </span>
        {{ book.subject_places }}
      </p>
      <p>
        <span class="capitalize font-medium">subject times: </span>
        {{ book.subject_times }}
      </p>
      <p>
        <span class="capitalize font-medium">subject people: </span>
        {{ book.subject_people }}
      </p>
      <p>
        <span class="capitalize font-medium">subjects: </span>
        {{ book.subjects }}
      </p>
    </div>
  </div>
</ng-template>
