<a
  [routerLink]="['/book', book.key]"
  class="shadow block rounded overflow-hidden p-3 h-full hover:shadow-xl transition-all"
>
  <div class="aspect-[9/14] w-[50%] mx-auto mb-4">
    <img [src]="getCover()" alt="thumbnail" class="image" />
  </div>
  <div class="text-center space-y-1">
    <h4 class="line-clamp-2">{{ book.title }}</h4>
    <p class="line-clamp-1">
      <span class="font-medium">Author: </span
      ><span class="text-secondary">{{ book.author_name }}</span>
    </p>
    <p class="line-clamp-1">
      <span class="font-medium">Total Editions: </span
      ><span class="text-secondary">{{ book.edition_count }}</span>
    </p>
    <p class="line-clamp-1 text-secondary italic">
      <span class="font-medium">First Publish Year: </span
      ><span class="">{{ book.first_publish_year }}</span>
    </p>
  </div>
</a>
