@import "tailwindcss";

body {
  font-size: 15px;
}
img {
  @apply object-center object-cover w-full h-full block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}
h5 {
  font-size: 1rem;
}
h4 {
  font-size: 1.25rem;
}
