<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-3xl font-bold text-center text-gray-800 mb-6">Đăng nhập</h2>

    <form (submit)="login()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2"
          >Email:</label
        >
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-500"
          placeholder="Nhập email của bạn"
        />
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
          >Mật khẩu:</label
        >
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          required
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline focus:border-blue-500"
          placeholder="Nhập mật khẩu của bạn"
        />
      </div>

      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full transition duration-150 ease-in-out"
      >
        Đăng nhập
      </button>
    </form>

    <p *ngIf="errorMessage" class="text-red-500 text-sm mt-4 text-center">
      {{ errorMessage }}
    </p>

    <div class="mt-6 text-center">
      <p class="text-gray-600">
        Bạn chưa có tài khoản?
        <a
          routerLink="/register"
          class="text-blue-500 hover:text-blue-700 font-bold"
          >Đăng ký ngay</a
        >
      </p>
    </div>
  </div>
</div>
