<app-loading *ngIf="isLoading; else result"></app-loading>

<ng-template #result>
  <div class="flex flex-col-reverse md:flex-row items-start gap-6">
    <!-- right -->
    <div class="flex-1">
      <table class="table border border-gray-300 w-full">
        <tbody>
          <tr *ngFor="let row of customTable"></tr>
          @for (row of customTable; track row.title) {
          <tr>
            <td
              class="border border-gray-300 text-center py-1 px-3 font-medium bg-gray-200"
              colspan="2"
            >
              {{ row.title }}
            </td>
          </tr>
          @for (item of row.items; track item.key) {
          <tr>
            <td class="border border-gray-300 py-1 px-3 font-medium capitalize">
              {{ item.key }}
            </td>
            <td
              class="border border-gray-300 py-1 px-3"
              [innerHTML]="item.value"
            ></td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
    <!-- left -->
    <div class="md:max-w-xs w-full border border-gray-300">
      <h5 class="text-center p-2 bg-gray-200">{{ data.name }}</h5>
      <ul class="flex items-center">
        <li
          *ngFor="let item of img_parts; let idx = index"
          (click)="changeIndexImg(idx)"
          [ngClass]="{
            'text-blue-500': idx === indexImg,
            'text-gray-500': idx !== indexImg
          }"
          class="font-bold py-2 px-3 cursor-pointer"
        >
          {{ item }}
        </li>
      </ul>
      <div class="aspect-square">
        <img [src]="data.images[indexImg]" alt="img" loading="lazy" />
      </div>
      <p
        *ngIf="data.personal.titles"
        class="wrap-break-word text-center p-3 bg-gray-200 text-sm"
        [innerHTML]="data.personal.titles"
      ></p>
    </div>
  </div>
</ng-template>
