<app-loading *ngIf="isLoading; else result"></app-loading>

<ng-template #result>
  <ul
    class="mb-10 grid gap-3 grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6"
  >
    <li
      *ngFor="
        let item of data
          | paginate
            : {
                itemsPerPage: query.limit,
                currentPage: query.page,
                totalItems: totalItems
              }
      "
    >
      <a [routerLink]="['/dattebayo/characters', item.id]" class="inline-block">
        <div class="aspect-square">
          <img [src]="item.images[0]" alt="img" />
        </div>
        <div class="p-2">
          <h5>{{ item.name }}</h5>
        </div>
      </a>
    </li>
  </ul>
  <!-- Đây chỉ dùng để hiển thị điều hướng -->
  <pagination-controls
    class="mx-auto max-w-max"
    (pageChange)="onPageChange($event)"
  >
  </pagination-controls>
</ng-template>
